# Ignore files for Cassandra POC project #
##########################################

/project/target/
/target/
/modules/dbmodule/target/
/.idea
*.class
/.idea/
.idea
.DS_Store

#we are in english: https://mojitoverdeintw.blogspot.com/
#we are in spanish: https://mojitoverde.blogspot.com/
